<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>
</head>
<body>
<h4> Christina L Maria</h4>
<p>mariachristina71@yahoo.com</p>
<br/>
<h5> Education</h5>
<p>Bachelor of Medicine and Bachelor of Surgery,<br/>
    India, 1993.<br/>
</p>
<p>Master of Surgery (Ophthalmology),<br/>
    India, 1996.<br/>
</p>
<h5> Experience</h5>
<p>Adjunct Professor,<br/>
    Cecil College, MD, June 2015 till date<br/>
</p>
<p>Consultant Ophthalmologist,<br/>
    India, 1996 -2014<br/>
</p>
<h5> Skills</h5>
<p>Automated and Manual testing, proficient<br/>
   Java developer in training, familiar <br/>
   SQL, familiar<br/>
   HTML, familiar <br/>

</p>

</body>
</html>